.mui-appbar {
    background-color: aqua;
}

.navbar-item {
  background: url('./assets/logobrand.png') no-repeat center center;
  background-size: cover;
  width: 152px;
  height: 50px
}

.profile {
    height: 50%;
    width: 100%;
}

.tabs {
  margin-bottom: -1px!important
}
.tab-content{
  border: 1px solid #DBDBDB
  padding: 30px
}
 
.tab-pane{
  display: none
}
.is-active{
  display: initial
}